
.LEFTIMAGEHOLDER
  {
    position:absolute; 
	top:0; 
	left:0; 
	width:185; 
	height:400;
  }

.CENTRETOPHOLDER
  {
    position:absolute; 
	top:9; 
	left:198; 
	width:202; 
	height:107; 
	z-index:200;
  }

.FIXEDBOTTOM
  {
    position:absolute; 
	top:227; 
	left:198; 
	width:202; 
	height:150; 
	z-index:50;
  }
  
.NEWSTEXT
  {
    position:absolute; 
	top:227; 
	left:198; 
	width:180; 
	font-family:Arial,Verdana;
	font-size:10px;
	color:#232323;
	padding:6px;
	z-index:60;
	overflow:hidden;
  }

.DASCROLLER
  {
    position:absolute;
	top:240;
	left:390;
	width:5;
	z-index:99;
	visibility:hidden;
  }  
  
.OTHERTEXT
  {
    position:absolute; 
	top:10; 
	left:0; 
	width:202; 
	height:150; 
	font-family:Arial,Verdana;
	font-size:10px;
	color:#232323;
	padding:4px;
	z-index:105;
	visibility:hidden;
  }
  
.TCENTERTEXT
  {
    position:absolute; 
	top:0; 
	left:0; 
	width:202; 
	height:107; 
	font-family:Arial,Verdana;
	font-size:10px;
	color:#232323;
	padding:1px;
	z-index:199;
	visibility:visible;
  }  

.SHORTCUTTEXT
  {
    position:absolute;
	top:108;
	left:7;
	width:65;
	height:15;
	font-family:Arial,Verdana;
	font-size:10px;
	color:#232323;
	padding:1px;
	font-weight:bold; 
	z-index:201;
  }
  
.SHORTCUTHOLDER
  {
    position:absolute;
	top:107;
	left:0;
	z-index:202;
  }
  
.SHORTCUTHOLDER2
  {
    position:absolute;
	top:107;
	left:0;
	z-index:200;
  }

.GENTEXT
  {
 	font-family:Arial,Verdana;
	font-size:10px;
	color:#232323;
  }  
 
.NEWSHEAD
  {
	font-size:11px;
	font-weight:bold;
  }  
  
.TODAYDATETEXT
  {
    position:absolute;
	top:128;
	left:-2;
	width:200;
	height:60;
	font-family:Arial,Verdana;
	font-size:14px;
	padding:4px;
	text-align:center;
	font-weight:bold; 
	z-index:205;
  }  
  
.TODAYTEXT
  {
    position:absolute;
	top:167;
	left:7;
	width:65;
	height:15;
	font-family:Arial,Verdana;
	font-size:10px;
	color:#232323;
	padding:1px;
	font-weight:bold; 
	z-index:201;
  }
  
.TODAYHOLDER
  {
    position:absolute;
	top:167;
	left:0;
	z-index:202;
  }
  
.TODAYHOLDER2
  {
    position:absolute;
	top:167;
	left:0;
	z-index:200;
  }  
  
.bottone1
  {
    position:absolute;
	left:0;
	top:150;
	width:65;
	height:15;
    z-index:103;
  }

.bottone2
  {
    position:absolute;
	left:67;
	top:150;
	width:65;
	height:15;
    z-index:103;
  }
  
.bottone3
  {
    position:absolute;
	left:134;
	top:150;
	width:65;
	height:15;
    z-index:103;
  }

.NEWSBUTTON
  {
    position:absolute;
	left:198;
	top:378;
    z-index:104;
  }
  
.newsbuttonback
  {
    position:absolute;
	left:0;
	top:0;
    z-index:101;
	width:65;
	height:15;
    z-index:102;
  }

.newsbuttonimage
  {
    position:absolute;
	left:0;
	top:0;
    z-index:101;
	width:65;
	height:15;
    z-index:105;
  }  
 
 .newsbuttontext
  {
    position:absolute;
	left:7;
	top:0;
    z-index:104;
	width:65;
	height:15;
	font-family:Arial,Verdana;
	font-size:10px;
	color:#ffffff;
	padding:1px;
	font-weight:bold;
  }

.backs1
  {
    position:absolute;
	left:0;
	top:151;
    z-index:101;
	width:65;
	height:15;
	font-family:Arial,Verdana;
	font-size:10px;
	color:#232323;
  }
  
.backs2
  {
    position:absolute;
	left:67;
	top:151;
    z-index:101;
	width:65;
	height:15;
  }
  
.backs3
  {
    position:absolute;
	left:134;
	top:151;
    z-index:101;
	width:65;
	height:15;
  }

.text1
  {
    position:absolute;
	left:0;
	top:151;
    z-index:102;
	width:65;
	height:15;
	font-family:Arial,Verdana;
	font-size:10px;
	color:#ffffff;
	padding:1px;
	text-align:center;
	font-weight:bold;
  }
  
.text2
  {
    position:absolute;
	left:67;
	top:151;
    z-index:102;
	width:65;
	height:15;
	font-family:Arial,Verdana;
	font-size:10px;
	color:#ffffff;
	padding:1px;
	text-align:center;
	font-weight:bold;
  }
 
.text3
  {
    position:absolute;
	left:134;
	top:151;
    z-index:102;
	width:65;
	height:15;
	font-family:Arial,Verdana;
	font-size:10px;
	color:#ffffff;
	padding:1px;
	text-align:center;
	font-weight:bold;
  }
  
.justbar
  {
    position:absolute;
	left:0;
	top:171;
    z-index:103;
  }
    
.loadCover
  {
    position:absolute;
	top:0;
	left:0;
	width:413;
	height:400;
	z-index:5000;
  }
  
.SLIDEMASK
  {
    position:absolute; 
	top:196; 
	left:198; 
	width:202; 
	height:8; 
	z-index:200;
  }

.DAHELP
  {
    position: absolute;
	top:118;
	left:14;
	width:157;
	height:78;
	visibility:hidden;
  }  
  
.DAHELPTEXT
  {
    position:absolute;
	top:0;
	left:0;
	width:157;
	height:62;
    color:#6d6d6d;
	font-family:Arial,Verdana;
	font-size:10px;
	padding:2px;
	z-index:100;
  }
  
.DAHELPBUTTON
  {
    position:absolute;
	top:64;
	left:7;
    color:#6d6d6d;
	font-family:Arial,Verdana;
	font-size:10px;
	z-index:100;
  }
  
/****************
 *              *
 *  SPLASHPAGE  *
 *              *
 ****************/

.CANVAS
  {
    position:absolute;
	width:514;
	height:332;
	z-index:100;
    visibility:hidden;
  }
  
.SCROLLCANVAS
  {
    position:absolute;
	width:483;
	height:147;
	z-index:110;
    visibility:hidden;
  }
  
.SCROLLTEXT
  {
    position:absolute;
	width:483;
	z-index:120;
    visibility:hidden;
  }
  
.TESTO
  {
    font-family:Verdana,Arial;
	font-size:12px;
	font-weight:bold;
	color:#ffffff;
  }
  
.ENTER
  {
    position:absolute;
	width:66;
	height:15;
	z-index:130;
    visibility:hidden;
  }  
 
.BOTTOMS
  {
    position:absolute;
	width:485;
	height:152;
	z-index:130;
    visibility:hidden;
  }

/****************
 *              *
 *  RIGHTSIDE   *
 *              *
 ****************/
 
 .RIGHTIMAGE
   {
     position: absolute;
	 top:0;
	 left:0;
	 width:351;
	 height:107;
	 visibility:visible;
	 z-index:1000;
   }
 
 .TOPIMAGE
   {
     position: absolute;
	 top:10;
	 left:0;
	 width:351;
	 height:107;
	 visibility:visible;
	 z-index:1000;
   }
   
.RIGHTSCROLLER
  {
    position:absolute;
    left:0;
	top: 180;
	overflow:hidden;
	width:330;
	visibility:hidden;
  }
  
.testog {font-family: arial; color: #6d6d6d; font-weight: normal; font-size: 8pt;}

A:link {text-decoration: none; color: #6d6d6d; font-family: arial; font-weight: normal;}
A:visited {text-decoration: none; color: #6d6d6d; font-family: arial; font-weight: normal;}
A:active {text-decoration: none; color: #6d6d6d; font-family: arial; font-weight: normal;}
A:hover {text-decoration: none; color: #232323; font-family: arial; font-weight: normal;}